@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background-color: #020617;
}


/* Hide scrollbar but keep scrolling */
html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}
